<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if params[:action] == "index" %>
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
    <% else %>
      <%= link_to biens_path, class:"navbar-back" do %>
        <i class="fa-solid fa-circle-left"></i>
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Ajouter un bien", new_bien_path, class: "dropdown-item" %>
          </li>
          <li class="nav-item">
            <%= link_to "Mes biens",  userbiens_biens_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
          </li>
          <li class="nav-item">
              <%= button_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.profile_picture, height: 300, width: 400, crop: :fill %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mon compte", edit_user_registration_path, class: "dropdown-item" %>
              <%#= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Connexion", new_user_session_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Inscription", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
