<div class="container">
  <%= simple_form_for(@bien) do |f| %>
    <%= f.input :ville %>
    <%= f.input :address,
           input_html: { data: { geocoder_target: "address" } },
           wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
    <%= f.input :loyé %>
    <%= f.input :meublé, as: :select, collection: [['Oui',true], ['Non',false]], required: false, include_blank: false %>
    <%= f.input :saisonnié, as: :select, collection: [['Oui',true], ['Non',false]], required: false, include_blank: false %>
    <%= f.input :disponible, as: :select, collection: [['Oui',true], ['Non',false]], required: false, include_blank: false %>
    <%= f.input :image, as: :file, label: "Photo de votre bien" %>
    <%= f.submit "Ajouter ce bien", class: "secondary-button" %>
  <% end %>
</div>
