<div class="container">

  <% @biens_mine.each do |bien| %>
    <div class="card-product">
      <%= image_tag "#{bien.image}"%>
      <div class="card-product-infos">
        <h3><%= bien.user.surnom%></h3>
        <h5>
          <%= bien.ville %>
        </h5>
        <p>
          Loyé:<%= bien.loyé%>€/mois<br>
         <%=bien.meublé == true ? "Meublé" : "Non meublé"%><br>
         <%=bien.disponible == true ? "Pas encore loué" : "Loué"%>
        </p>
        <div class="links">
          <ul>
            <li>
              <%= link_to "voir l'appartement", bien_path(bien), class: "secondary-button"%>
            </li>
            <li>
              <%= link_to "Modifier", edit_bien_path(bien), class: "secondary-button"%>
            </li>
            <li>
              <%= link_to "Supprimer", bien_path(bien),
              method: :delete,
              data: { confirm: "vous etes sur ?" } %>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <% end %>
  <div class="card-product">
  <h1>Ajouter un bien <i class="fa-solid fa-circle-plus"></i></h1>

</div>
